* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.App {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to bottom, blue 40%, lightblue);
}
.header{
  margin: 30px 0;
  width: 90%;
}
.notice-container {
  background-color: lightgreen;
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  width: 90%;
  border-radius: 10px;
  border: 2px solid white;
}
.main-container {
  background-color: red;
  padding: 10px;
  display: flex;
  justify-content: center;
  height: auto;
  margin: 10px;
  width: 90%;
}
.left-container {
  background-color: lightgrey;
  padding: 10px;
  height: auto;
  width: 70%;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid white;
}
.balance-container {
  background-color: green;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
.amount-container {
  background-color: orange;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  font-size: 14px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
}
.counter {
  font-size: 30px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 20px;
}
.graph-container {
  background-color: yellow;
  padding: 10px;
}
.payment-tracker {
  background-color: pink;
  padding: 10px;
  margin: 10px;
  width: 90%;
}
.right-container {
  background-color: lightgrey;
  padding: 10px;
  height: auto;
  width: 30%;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid white;
}
.member-container {
  background-color: green;
  padding: 10px;
  height: 100%;
}
.active-members {
  background-color: purple;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid white;
}

.member-list {
  background-color: lime;
  padding: 10px;
  display: grid;
}
.member-table {
  background-color: red;
  display: grid;
}
.member-name {
  background-color: lightcyan;
  list-style: none;
  border: 1px solid;
  padding: 5px;
  font-weight: normal;
}
.payments {
  background-color: lime;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.payment-table {
  background-color: red;
  display: flex;
  justify-content: center;
  width: 1000px;
}
.table-header {
  background-color: orange;
  list-style: none;
  border: 1px solid;
  padding: 5px;
  font-weight: bold;
  width: 80px;
}
.payment-table-data {
  background-color: blue;
  display: flex;
  justify-content: center;
  width: 1000px;
}
.table-header-data {
  background-color: cyan;
  list-style: none;
  border: 1px solid;
  padding: 5px;
  width: 80px;
}
.table-header-data-name {
  background-color: cyan;
  list-style: none;
  border: 1px solid;
  padding: 5px;
  width: 300px;
}

.table-header-name {
  background-color: orange;
  list-style: none;
  border: 1px solid;
  padding: 5px;
  font-weight: bold;
  width: 300px;
}
.chart-style {
  background: #fcf6f9;
  border: 2px solid #ffffff;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
  padding: 10px;
  border-radius: 20px;
  height: 100%;
  margin-top: 10px;
}

.line-style{
  margin: 10px;
  background-color: lightblue;
  padding: 20px;
}
.bar-style{
  margin: 10px;
  background-color: lightblue;
  padding: 20px;
}




@media only screen and (max-width: 800px) {
  .main-container{
    flex-direction: column;
  }
  .left-container{
    width: auto;
  }
  .right-container{
    width: auto;
  }
  .amount-container {
    padding: 10px;
    margin: 0;
    width: auto;
  }
  .counter {
    font-size: 20px;
    padding: 5px;
  }
  .active-members{
    margin-top: 10px;
  }
  .payments{
    overflow-x: auto;
align-items: start;
  }
}